body {
    padding-top: 70px;
}

#navbar {
    font-family: 'Bree Serif', serif;
    font-size: 18px;
}

#title-name {
    font-family: Cabin, sans-serif;
    font-weight: bold;
    font-size: 4em;
}

#title-top {
    width: 75%;
    height: 75%;
}
