/* CSS Reset*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/************************Custom Styles******************************** */

body {
    padding-top: 70px;
    background: url("images/grass.jpg") no-repeat fixed center;

}

#navbar {
    font-family: 'Bree Serif', serif;
    font-size: 1.1em;
}

#title-name-1, #title-name-2 {
    font-family: 'Covered By Your Grace', cursive;
    font-weight: bold;
    font-size: 6em;
}

#title-name-2 {
  padding-left: 1.5em;
}

#tagline {
  padding-top: 1em;
}

#title-well {
  background-color: rgba(255,255,255,0.4);
  width: 25%;
  height: 10%;
  border-radius: 3%;
}
